.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  
  header {
    background-color: #3f51b5;
    color: #fff;
    padding: 10px;
  }
  
  body {
    padding: 0px;
    background-image: url("../image/background.png");
  }
  
  h1 {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0px;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    display: inline-block;
    padding: 20px 40px;
    background-color: #5a69ba;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  a:hover {
    background-color: #fff;
    color: #3e7c53;
    border: 2px solid #90b04a;
  }
  
  