.container {
  /* 모달창 크기 */
  width: 100px;
  height: 100px;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
}