.container {
  /* 모달창 크기 */
  width: 710px;
  height: 1px;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: gray;
  border: 1px solid black;
  border-radius: 8px;
}

.close {
  position: absolute;
  right: -15px;
  top: -15px;
  font-size: 30px;
  border-radius: 30px;
}
