.container {
  /* 모달창 크기 */
  width: 835px;
  height: 770px;

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: rgb(207, 189, 121);
  border: 1px solid black;
  border-radius: 12px;
}

.close {
  position: absolute;
  right: -15px;
  top: -15px;
  font-size: 30px;
  border-radius: 30px;
}

.close2 {
  position: absolute;
  right: -130px;
  top: -15px;
  font-size: 30px;
  border-radius: 30px;
}

.sub1 {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.sub2 {
  position: absolute;
  left: 175px;
  top: 15px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.sub3 {
  position: absolute;
  left: 340px;
  top: 15px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.sub4 {
  position: absolute;
  left: 505px;
  top: 15px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.sub5 {
  position: absolute;
  left: 670px;
  top: 15px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.sub6 {
  position: absolute;
  left: 10px;
  top: 270px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.sub7 {
  position: absolute;
  left: 175px;
  top: 270px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}

.job1 {
  position: absolute;
  left: 340px;
  top: 270px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.job2 {
  position: absolute;
  left: 505px;
  top: 270px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.job3 {
  position: absolute;
  left: 670px;
  top: 270px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.job4 {
  position: absolute;
  left: 93px;
  top: 525px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.job5 {
  position: absolute;
  left: 263px;
  top: 525px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.job6 {
  position: absolute;
  left: 433px;
  top: 525px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
.job7 {
  position: absolute;
  left: 603px;
  top: 525px;
  width: 145px;
  height: 230px;
  border-radius: 12px;
  border: 4px solid #ffffff;
}
